.mini-block {
  display: flex;
  background-color: #234ac2;
  margin-right: 20px;
  padding: 5px;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 800px) {
    margin-top: 20px;
    margin-right: 0;
  }

  &__blocks {
    display: flex;
    margin-bottom: 50px;

    @media only screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__content {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
  }
}